
{% block title %} 更新文章 {% endblock title %}
{% block content %}
            <form method="post" action=".">
                {% csrf_token %}
                    <label for="title">文章标题</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}">
                    <label for="body">文章正文</label>
                    <textarea type="text" class="form-control" id="body" name="body" rows="12">{{ article.body }}</textarea>
                <button type="submit" class="btn btn-primary">完成</button>
            </form>
{% endblock content %}