<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form action=" /show/" method="post">
        {% csrf_token %}
        <input type="text" name="a_user"><br/>
        <input type="text" name="a_pwd">
        <input type="submit" value="增加">


    </form>
    <div>
        <table border="1">
            <thread>
                <tr>
                    <th>用户名</th>
                    <th>密码</th>
                </tr>
            </thread>
            <tbody>
                {%  for line in user_list  %}
                    <tr>
                        <td>{{ line.name }}</td>
                        <td>{{ line.pwd }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</body>
</html>